img {
	margin: 40px 8px 0px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 800px;
}
.message, .copyright {
	font-family: 'Poppins', sans-serif;
}

.copyright {
	float: left;
}

.message { 
	float: right; 
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name{ 
	color: #F15B31;
	font-weight: 700px;
}